<!DOCTYPE html>
<html>
<head>
	<title>home</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<style type="text/css">
	.btn {
		font-size: 2em;
		border-radius: 5px;
		padding: 12px 30px;
		background: #933;
		text-transform: uppercase;
		margin-top: 10px;
	}

	.card-header{
		border-bottom:1px solid #fffc;
		padding:10px;
		text-align: center;
		margin-top:0px;

	}

	.head-part {
		background-color: #5c5c5c;
		border-radius: 30px;
		margin-top: 30px;
		margin-bottom: 30px;
		padding: 30px;
	}

	.back-part {
		background-color: #333;
		padding: 0px;
	}

	</style>
</head>
<body class="back-part">
	<header>
		<div class="container back-part">
			<div class="container head-part">
				<h1 class="display-1 card-header" align="center" style="color:#fffc;">SMS Spam detection  </h1>
				<p class="lead" align="center" style="color:#fffc;"> Write your SMS message in the box below to determine if it is safe to read or not  </p>
			</div>
		</div>
	</header>
	<div class="container" style="max-width: 600px;">
		<div class="head-part">
			<form action="{{ url_for('predict')}}" method="POST" align="center">
				<p style="color:#fffc;">Enter the SMS message here:</p>
				<textarea name="message" rows="5" cols="60" placeholder="Try typing: free crypto $10 bonus buy now!!!" required="required"></textarea>
				<br/>
				<input type="submit" class="btn-info btn" value="Check" >
			</form>
		</div>
	</div>
</body>
</html>
